<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 mx-auto">
                <form class="text-center border border-light p-5 register">
                    <p class="h4 mb-4">Contact Person Information</p>
                    <mat-form-field>
                        <input matInput placeholder="Name" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="User Name/Email" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Country">
                            <mat-option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Mobile" />
                    </mat-form-field>
                    <p class="h4 mb-4">Organisation Information</p>
                    <mat-form-field>
                        <input matInput placeholder="Organisation Key" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Institution Type">
                            <mat-option value="1001">School</mat-option>
                            <mat-option value="1002">Play School</mat-option>
                            <mat-option value="1003">College</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-slide-toggle>Trail for 7 days</mat-slide-toggle>
                    <mat-form-field>
                        <input matInput placeholder="Organisation Name" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" />
                    </mat-form-field>
                    <button mat-flat-button class="btn btn-info btn-block my-4 primary" (click)="login();" type="button">Register</button>
                    <p>Already member?
                        <a routerLink="/login">Sign In</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>