<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 mx-auto">
                <form class="text-center border border-light p-5 register" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                    <div ngModelGroup="register">
                        <p class="h4 mb-4">Contact Person Information</p>
                        <mat-form-field>
                            <input matInput placeholder="Name" name="name" ngModel required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="User Name/Email" type="email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                ngModel required />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Country" name="country" ngModel required>
                                <mat-option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Mobile" name="mobile" ngModel required />
                        </mat-form-field>
                        <p class="h4 mb-4">Organisation Information</p>
                        <mat-form-field>
                            <input matInput placeholder="Organisation Key" name="organisationKey" ngModel required />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Institution Type" name="institutionType" ngModel required>
                                <mat-option *ngFor="let type of instituteTypeList" [value]="type.id">{{type.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-slide-toggle name="planType">Trail for 7 days</mat-slide-toggle>
                        <mat-form-field>
                            <input matInput placeholder="Organisation Name" name="organisationName" ngModel required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" name="password" ngModel #password required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Confirm Password" name="confirmPassword" ngModel #confirmPassword validateEqual="register.password" required />
                        </mat-form-field>
                        <button mat-flat-button class="btn btn-info btn-block my-4 primary" type="submit">Register</button>
                        <p>Already member?
                            <a routerLink="/login">Sign In</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>