<div class="container basic-details">
  <div class="wizard">
    <form-wizard>
      <wizard-step [title]="'Basic Info'" [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)">
        <div class="wizard-content">
          <h1>Step1</h1>
          <form #emailForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                [(ngModel)]="data.email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </form>
        </div>
      </wizard-step>
      <wizard-step [title]="'Logo & Social'" (onNext)="onStep2Next($event)">
        <div class="wizard-content">
          <h1>Step2</h1>
        </div>
      </wizard-step>
      <wizard-step [title]="'Contact Info'" (onNext)="onStep3Next($event)">
        <div class="wizard-content">
          <h1>Step3</h1>
        </div>
      </wizard-step>
      <wizard-step [title]="'Global Settings'" (onComplete)="onComplete($event)">
        <div class="wizard-content">
          <div [ngSwitch]="isCompleted">
            <div *ngSwitchDefault>
              <h1>Step4</h1>
            </div>
            <div *ngSwitchCase="true">
              <h4>Thank you! You have completed all the steps.</h4>
            </div>
          </div>
        </div>
      </wizard-step>
    </form-wizard>
  </div>

</div>