/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* .mat-focused .mat-input-placeholder {
 color: blue;
} */

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    height: 2.5em !important;
}

form .ng-valid.mat-focused .mat-form-field-label, form .ng-valid .mat-focused .mat-form-field-label, form .ng-valid .mat-form-field-label {
    color: #4caf50 !important;
}
